@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito';

  input, button {
    font-family: 'Nunito';
  }

  h1 {
    font-family: 'Mulish', sans-serif;
  }

}

body {
  background-color: #E7D2F9;
}




::-webkit-input-placeholder {
  color: #00000050;
}