@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito';

  input, button {
    font-family: 'Nunito';
  }

  h1 {
    font-family: 'Mulish', sans-serif;
  }

}

body {
  background-color: #E7D2F9;
}




::-webkit-input-placeholder {
  color: #00000050;
}